<footer class="footer">
  <p>&copy; <%= new Date().getFullYear() %> Greenroots Natural Fertility. All rights reserved.</p>

  <div class="social-links">
    <a href="https://www.tiktok.com/@green.rootsnaturalherbs?_t=ZS-90GjKgR8FXe&_r=1" target="_blank" aria-label="TikTok">
      <i class="fab fa-tiktok"></i>
    </a>
    <a href="https://www.instagram.com/greenrootsbymike?igsh=bjg2eWoweTZibm1t&utm_source=qr" target="_blank" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.threads.com/@greenrootsbymike?igshid=NTc4MTIwNjQ2YQ==" target="_blank" aria-label="Threads">
      <img src="/images/threads-app-icon.svg" alt="Threads" class="social-icon">
    </a>

  </div>
</footer>
